* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
  
body {
  background-image: url("https://media.discordapp.net/attachments/985795697783762965/985865559784702012/UnbenanRWFWWnt.png?width=856&height=595");
  color: lightgray;
  margin: 0 auto;
}
 
.btn {
  background: darkgray;
  border: 1px solid rgb(72, 70, 70);
  color: hsl(0, 3%, 17%);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  outline: none;
}
header{
  display:flex;
  margin: 0;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  top:0;
  width:100%;
  z-index: 1;
}

img{
  height:55px;
  margin: 20px;
  margin-left: 45%;
  margin-right: 45%;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}
canvas{
  cursor: pointer;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black; 
}

::-webkit-scrollbar-thumb {
  background: #ef7b00; 
}

::-webkit-scrollbar-thumb:hover {
  background: orange; 
}



/* Mark Text */

* ::selection {
  color: #1f1f1f;
  background: #ef7b00;
}




/* Wheel Editor*/
#entrylistForm{
  width: 150px;
}
input{
  width: 300px;
}
.InputDiv{
  border-color: black;
  padding: 15px;
  border-width: 2px;
  border-style: solid;
  background: rgba(45, 45, 45, .6);
  float: left ;
}

#pastResults{
  background-color: black;
  border-collapse: collapse;
  width: 300px;
}
tr:nth-child(even) {background-color: darkred;}
tr:first-child {
  font-style: italic;
  font-weight: bolder;
}
.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}  
#entriescounter{
  font-size: small;
  color: white;
}
 



