* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  scroll-behavior:smooth;
} 

/*Smallscreens*/
@media screen and (max-width: 1000px){
  html{
    width: 1025px;
  }
  .langSelect{
    max-width: 250px;
    max-height: 70px;
  }

  input{
    margin-top: 20px;
    width: 975px;
    height: 65px;
  }

  .slider {
    height: 30px;
  }

  .slider::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
  }

  *{
    font-size: 35px;
  }


  .popup {
    width: 800px;
    height: 400px;
  }

  #closePopUpBtn{
    width: 50px;
    height: 100px;
    font-size: 40px;
  }

  img{
    height: 100px;
  }

  .designSelect{
    max-width:100px;
    max-height:100px;
  }
  
  td{
    height: 40px;
  }

  #pastResults{
    width: 100%;
  }

  .float-child {
    width: 100%;
    float: center;
    padding: 20px;
  }  
}
/*Big Screens*/
@media screen and (min-width: 1000px){
  html{
    width: 100%;
  }
  .langSelect{
    max-width: 50px;
    max-height:40px;
  }

  input{
    width: 300px;
  }

  .slider {
    height: 15px;
  }

  .slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
  }

  img{
    height: 60px;
  }

  .popup {
    width: 400px;
    height: 200px;
  }

  .designSelect{
    max-width:40px;
    max-height:40px;
  }

  .float-child {
    width: 50%;
    float: left;
    padding: 20px;
  }  

  #pastResults{
    width: 100%;
  }
  
}

canvas{
  width: 1000px;
  height: 800px;
}
body {
  background-image: url("src/Images/WoodTexture.png");
  color: lightgray;
  margin: 0 auto;
}
.btn {
  background: darkgray;
  border: 1px solid rgb(72, 70, 70);
  color: hsl(0, 3%, 17%);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
}
header{
  display:flex;
  margin: 0;
  background-color: rgb(0, 0, 0);
  top:0;
  width: auto;
  z-index: 1;
}
nav{
  width: auto;
}
img{
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
}
canvas{
  cursor: pointer;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black; 
}
::-webkit-scrollbar-thumb {
  background: #ef7b00; 
}
::-webkit-scrollbar-thumb:hover {
  background: orange; 
}


/* Mark Text */
* ::selection {
  color: #1f1f1f;
  background: #ef7b00;
}


/* Account */
#pfp{
  width: 40px;
  margin-left: 1%;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  border: 4px solid red;
  padding: 2px;
  border-top-color: saddlebrown;
  border-left-color: saddlebrown;
}
.accounticons{
  width: 30px;
  height: 30px;
}
#accountDiv{
  float: left;
  width: 100%;
}
#LogoutIcon{
  cursor: pointer;
  float: right;
  margin-right: 1%;
  margin-top: 2%;
}
#useremail{
  color: darkgray;
  font-style: italic;
  float: left;
  margin-top: 2.5%;
  margin-left: 1%;
}
#AccountIcon{
  margin-left: 1%;
  cursor: pointer;
}


/* Wheel Editor */
#entrylistForm{
  width: 150px;
}
.InputDiv{
  border-color: black;
  padding: 15px;
  border-width: 2px;
  border-style: solid;
  background: rgba(45, 45, 45, .6);
  float: right;
}
#pastResults{
  background-color: black;
  border-collapse: collapse;
  overflow-y: scroll;
}
#pastResultsDiv {
  overflow-y: auto;
  max-height: 200px;
}
tr:nth-child(even) {background-color: darkred;}
tr:first-child {
  font-style: italic;
  font-weight: bolder;
}
#entriescounter{
  font-size: small;
  color: white;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%; 
  background: rgb(255, 141, 2);
  cursor: pointer;
}
#dateCell{
  text-align: right;
}
#entryCell{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.time{
  color: darkgrey;
  font-style: italic;
  display: inline-block;
}
#min{
  float: right;
}


/* WheelDesign Select */
.designcolumn{
  float: left;
  width: 23%;
}
.designSelect{
  display: block;
  width: auto;
  height: auto;
  cursor: pointer;
}
#DesignText{
  text-align: center;
}


/* Language Select */
#languageDiv{
  border-color: black;
  border-width: 2px;
  border-style: solid;
  background: rgba(45, 45, 45, .6);
}
#languageDiv::after {
  content: "";
  clear: both;
  display: table;
}
.langSelect{
  display: block;
  width: auto;
  height: auto;
  cursor: pointer;
}
.column {
  float: left;
  width: 16.66666%;
}

/* Popups  */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("src/Images/WoodTexture.png");
  box-shadow: 0 0 10px rgb(255, 111, 0);
  animation-name: flyIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.Accountpopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(100%, 100%);
  background-image: url("src/Images/WoodTexture.png");
  box-shadow: 0 0 10px rgb(255, 111, 0);
  animation-name: flyIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes flyIn {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
#popUpLogo{
  margin: auto;
}
#winnerEntry{
  text-align: center;
}
#closePopUpBtn{
  background-color: darkorange;
  border-color: black;
}
.AccountForm{
  width: max-content;
  text-align: center;
  padding: 20px;
}
#formRegister{
  margin-top: 10%;
}
.submitBtn{
  background: orange;
  color: hsl(0, 3%, 17%);
  padding: 0.25em 0.5em;
  cursor: pointer;
  font-weight: bold;
}
#advertiseText{
  font-style: italic;
  font-weight: normal;
}


